body {
    margin: 0;
}

.body {
    height: 100vh;
}

.view {
    height: 100%;
    width: 100%;
    margin: 0;
}

.blurring {
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 0;
    background-color: rgba(0, 10, 29, 0.7);
}
