@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Noto+Sans+Display:ital,wght@1,300&display=swap');

h2 {
    color: #ffff;
    text-align: center; 
    width: 100%;
    padding-top: 60px;
    font-size: 50px;
}

td {
    vertical-align: middle !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

::placeholder {
    color: #ffff !important; /* color para ele placeholder, es una metaclase (::) */
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.menu {
    width: 218px;
    position: flex;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #ffff;
}

.sidebar-header {
    margin: 30px 10px 100px 10px;
    font-family: 'Fira Sans', sans-serif;
}

.list-unstyled a {
    color: rgb(192, 189, 189);
    text-decoration: none;
}

.link {
    font-size: 20px;
    font-family: 'Noto Sans Display', sans-serif;
}

.list-unstyled a:hover {
    color: #ffff;
}

.components {
    margin-left: 10px;
}

.components li{
    margin-bottom: 25px;
}

.sidebar-icons {
    margin-right: 4px;
}

.footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 218px;
    padding: 10px;
    background-color: rgb(66, 66, 66);
}

.footer p {
    margin: 2px;
    font-size: 14px;
}

.background-header {
    width: 100%;
    height: 30%;
    background-image: url(../sources/redBus.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container-view {
    margin: 0px;
    padding: 0px;
    width: calc(100vw - 218px);
    height: 100vh !important;
}

.container-text {
    text-align: justify;
    padding: 50px 100px;
    font-size: 20px;
}

.container-contact {
    align-items: center;
    justify-content: center;
}

.item-center {
    margin: auto;
    padding-top: 10px;
}

.container-table {
    max-width: 60%;
    margin: 20px auto;
}

.text-table {
    font-size: 18px;
}

.container-table input {
    margin: 0px 10px;
}

.container-table button {
    margin: 0px 10px;
}

.pagination li.active a {
    background-color: rgb(52, 58, 64) !important;
    color: #ffff;
}

.pagination li a,
.pagination li a:hover {
    color: rgb(52, 58, 64);
}

.selected,
.accept {
    background-color: rgb(228, 128, 35);
}

.accept:hover {
    background-color: rgb(224, 135, 52);
}

@media (max-height: 910px) { /* escuchador de eventos */
    .background-header {
        height: 20%;
    }

    .text-table {
        font-size: 14px;
    }
}
