<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6bdd16e88d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/principal.css">
    <link rel="stylesheet" href="../styles/main.css">
    <script src="../api/vehicle.js"></script>
    <script src="../api/route.js"></script>
    <script src="../api/reservation.js"></script>
</head>

<body>

    <div class="wrapper">
        <nav id="sidebar" class="bg-dark menu">
            <div class="sidebar-header">
                <h3>Terminal V.M.V</h3>
            </div>

            <ul class="list-unstyled components link">
                <!--crea una lista no ordenada-->
                <li id="we">
                    <a href="javascript:showWe();"><i class="fas fa-info-circle fa-1x sidebar-icons"></i>We</a>
                </li>
                <li id="vehicle">
                    <a href="javascript:showVehicle();"><i class="fas fa-car fa-1x sidebar-icons"></i>Vehicle
                        Companies</a>
                </li>
                <li id="routes">
                    <a href="javascript:showRoutes();"><i class="fas fa-road fa-1x sidebar-icons"></i>Routes</a>
                </li>
            </ul>

            <div class="footer">
                <p><b>Copyright</b> 2021 Valentina M.</p>
                <p>Mateo A. Valentina C.</p>
            </div>
        </nav>

        <div id="view" class="container-view"></div>
    </div>

</body>

<script>
    function createTableReservation(routes) {
        let allRoutes = JSON.parse(localStorage.getItem("routes"));
        let tableBody = "";
        for (let i = 0; i < routes.length; i++) {
            tableBody += '<tr>';
            for (let j = 0; j < allRoutes.length; j++) {
                if (allRoutes[j].id === routes[i].route_by_vehicle_id) {
                    tableBody += `<td>${routes[i].date.slice(0,-6)}</td>`;
                    tableBody += `<td>${allRoutes[j].driver_name}</td>`;
                    tableBody += `<td>${allRoutes[j].origin}</td>`;
                    tableBody += `<td>${allRoutes[j].destination}</td>`;
                    break;
                }
                
            }
            tableBody += '</tr>';
        }
        return tableBody;
    }

    async function getreservesRoute() {
        let body = document.getElementById("body-modal-2");
        let routes = await getReservation();
        let tableBody = createTableReservation(routes);

        body.innerHTML = ` \
            <table class="table table-dark table-hover table-bordered text-center text-table"> \
                <thead> \
                    <tr> \
                        <th scope="col">Date</th> \
                        <th scope="col">Driver</th> \
                        <th scope="col">Origin</th> \
                        <th scope="col">Destination</th> \
                    </tr> \
                </thead> \
                <tbody id="table"> \
                    ${tableBody} \
                </tbody> \
            </table>`
    }

    async function reserveRoute() {
        let rowSelected = document.getElementsByClassName("selected")[0];
        let date = document.getElementById("date").value;
        if (rowSelected === undefined || date === "") {
            return
        }

        let id = rowSelected.getElementsByTagName("td")[0].innerHTML;

        await createReservation(id, date);
        document.getElementById("body-modal").innerHTML = ' \
        <div class="alert alert-success" role="alert"> \
            Successful reserve \
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> \
                <span aria-hidden="true">&times;</span> \
            </button> \
        </div>' + document.getElementById("body-modal").innerHTML;
    }

    async function getTableRoutes(page) {
        let price = document.getElementById("price-filter").value;
        let origin = document.getElementById("origin-filter").value;
        let destination = document.getElementById("destination-filter").value;

        let routes = await getRoutes(price, origin, destination);
        let tableBody = createTableRoutes(routes, page);
        return tableBody;
    }

    async function getTableVehicleCompanies(page) {
        let driver = document.getElementById("driver-filter").value;
        let origin = document.getElementById("origin-filter").value;
        let destination = document.getElementById("destination-filter").value;

        let vehicleCompanies = await getVehicleCompanies(driver, origin, destination);
        let tableBody = createTableVehicleCompanies(vehicleCompanies, page);
        return tableBody;
    }

    async function changeTable(page, view) {
        let tableBody;
        if (view === "routes") {
            tableBody = await getTableRoutes(page);
        } else {
            tableBody = await getTableVehicleCompanies(page);
        }

        let table = document.getElementById("table");
        table.innerHTML = tableBody;

        document.getElementsByClassName("pagination")[0]
            .getElementsByClassName("active")[0]
            .classList.remove("active");
        document.getElementById(page.toString()).classList.add("active");
    }

    function createTableRoutes(routes, page) {
        let tableBody = "";

        let items = page * 7;
        for (let i = items - 7; i < items; i++) {
            tableBody += '<tr onclick="selectRow(this)">';
            for (let key in routes[i]) {
                tableBody += `<td>${routes[i][key]}</td>`;
            }
            tableBody += '</tr>';
        }
        return tableBody;
    }

    function selectRow(row) {
        let rowSelected = document.getElementsByClassName("selected")[0];
        if (rowSelected !== undefined) {
            rowSelected.classList.remove("selected");
        }
        row.classList.add("selected");
    }

    function createTableVehicleCompanies(vehicleCompanies, page) {
        let tableBody = "";

        let items = page * 4;
        for (let i = items - 4; i < items; i++) {
            tableBody += '<tr>';
            for (let key in vehicleCompanies[i]) {
                tableBody += "<td>";
                if (key == "route") {
                    tableBody += '<ul class="remove-padding list-unstyled">';
                    vehicleCompanies[i][key].forEach(element => {
                        tableBody += "<li>" + element + "</li>";
                    });
                    tableBody += "</ul>";
                } else {
                    tableBody += vehicleCompanies[i][key];
                }
                tableBody += "</td>";
            }
        }
        return tableBody;
    }

    function getPaginationNumbers(length, page, viewName, maxRow) {
        let pagination = "";
        let i;
        let number;

        for (i = maxRow; i <= length; i += maxRow) {
            number = i / maxRow;
            if (page == i / maxRow) {
                pagination += `<li id="${number}" class="page-item active"><a class="page-link" href="javascript:changeTable(${number}, '${viewName}')">${number}</a></li>`;
            } else {
                pagination += `<li id="${number}" class="page-item"><a class="page-link" href="javascript:changeTable(${number}, '${viewName}')">${number}</a></li>`;
            }
        }

        if (length % maxRow != 0) {
            number = i / maxRow;
            if (page == number) {
                pagination += `<li id="${number}" class="page-item active"><a class="page-link" href="javascript:changeTable(${number}, '${viewName}')">${number}</a></li>`;
            } else {
                pagination += `<li id="${number}" class="page-item"><a class="page-link" href="javascript:changeTable(${number}, '${viewName}')">${number}</a></li>`;
            }
        }
        return pagination;
    }

    async function showVehicle() {
        let view = document.getElementById("view");
        let row = document.getElementById("vehicle");
        document.getElementById("we").classList.remove("active");
        document.getElementById("routes").classList.remove("active");

        let vehicleCompanies = await getVehicleCompanies("", "", "");
        let paginationNumbers = getPaginationNumbers(vehicleCompanies.length, 1, "vehicle", 4);
        let tableBody = createTableVehicleCompanies(vehicleCompanies, 1);

        row.classList.add("active");
        view.innerHTML = ` \
            <div class="background-header"> \
                <div class="blurring">\
                    <h2>Vehicle Companies</h2> \
                </div> \
            </div> \
            <div class="d-flex justify-content-between container-table mt-3"> \
                <input id="driver-filter" type="text" class="form-control bg-secondary text-white" placeholder="Drive Name" aria-label="Drive Name"> \
                <input id="origin-filter" type="text" class="form-control bg-secondary text-white" placeholder="Origin" aria-label="Origin"> \
                <input id="destination-filter" type="text" class="form-control bg-secondary text-white" placeholder="Destination" aria-label="Destination"> \
                <button onclick="changeTable(1, 'vehicle')" type="button" class="btn btn-outline-dark">Search</button> \
            </div> \
            <div class="table-responsive-md container-table shadow-lg bg-body rounded"> \
                <table class="table table-dark table-hover table-bordered text-center text-table"> \
                    <thead> \
                        <tr> \
                            <th scope="col">Name</th> \
                            <th scope="col">Driver Full name</th> \
                            <th scope="col">Routes</th> \
                        </tr> \
                    </thead> \
                    <tbody id="table"> \
                        ${tableBody} \
                    </tbody> \
                </table> \
            </div> \
            <div class="container-table"> \
                <nav aria-label="Page navigation"> \
                    <ul class="pagination justify-content-center"> \
                        ${paginationNumbers} \
                    </ul> \
                </nav> \
            </div>`;
    }

    async function showRoutes() {
        let view = document.getElementById("view");
        let row = document.getElementById("routes");
        document.getElementById("we").classList.remove("active");
        document.getElementById("vehicle").classList.remove("active");

        let routes = await getRoutes("", "", "");
        let paginationNumbers = getPaginationNumbers(routes.length, 1, "routes", 7);
        let tableBody = createTableRoutes(routes, 1);

        row.classList.add("active");
        view.innerHTML = ` \
            <div class="background-header"> \
                <div class="blurring">\
                    <h2>Routes</h2> \
                </div> \
            </div> \
            <div class="d-flex justify-content-between container-table mt-3"> \
                <input id="price-filter" type="number" min="0" class="form-control bg-secondary text-white" placeholder="Price" aria-label="Price"> \
                <input id="origin-filter" type="text" class="form-control bg-secondary text-white" placeholder="Origin" aria-label="Origin"> \
                <input id="destination-filter" type="text" class="form-control bg-secondary text-white" placeholder="Destination" aria-label="Destination"> \
                <button onclick="changeTable(1, 'routes')" type="button" class="btn btn-outline-dark">Search</button> \
            </div> \
            <div class="table-responsive-md container-table shadow-lg bg-body rounded"> \
                <table class="table table-dark table-hover table-bordered text-center text-table"> \
                    <thead> \
                        <tr> \
                            <th scope="col">ID</th> \
                            <th scope="col">Company</th> \
                            <th scope="col">Driver</th> \
                            <th scope="col">Origin</th> \
                            <th scope="col">Destination</th> \
                            <th scope="col">Distance (km)</th> \
                            <th scope="col">Price</th> \
                        </tr> \
                    </thead> \
                    <tbody id="table"> \
                        ${tableBody} \
                    </tbody> \
                </table> \
            </div> \
            <div class="container-table"> \
                <nav aria-label="Page navigation"> \
                    <ul class="pagination justify-content-center"> \
                        ${paginationNumbers} \
                    </ul> \
                </nav> \
            </div> \
            <div class="modal fade" id="reservation" tabindex="-1" aria-labelledby="reservationLabel" \
                aria-hidden="true"> \
                <div class="modal-dialog modal-dialog-centered"> \
                    <div class="modal-content"> \
                        <div class="modal-header bg-dark p-2"> \
                            <h5 class="modal-title" id="reservationLabel" style="color: #ffff;">Selecte Date</h5> \
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                <span aria-hidden="true">&times;</span> \
                            </button> \
                        </div> \
                        <div id="body-modal" class="modal-body p-5"> \
                            <div class="d-flex justify-content-center"> \
                                <input type="datetime-local" name="date" id="date"> \
                            </div> \
                        </div> \
                        <div class="modal-footer bg-dark p-1"> \
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button> \
                            <button onclick="reserveRoute()" type="button" class="btn accept">Accept</button> \
                        </div> \
                    </div> \
                </div> \
            </div> \
            <div class="modal fade" id="searchReserve" tabindex="-1" aria-labelledby="searchReserveLabel" \
                aria-hidden="true"> \
                <div class="modal-dialog modal-lg modal-dialog-scrollable"> \
                    <div class="modal-content"> \
                        <div class="modal-header bg-dark p-2"> \
                            <h5 class="modal-title" id="searchReserveLabel" style="color: #ffff;">Reservations</h5> \
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> \
                                <span aria-hidden="true">&times;</span> \
                            </button> \
                        </div> \
                        <div id="body-modal-2" class="modal-body p-5"> \
                        </div> \
                        <div class="modal-footer bg-dark p-1"> \
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button> \
                        </div> \
                    </div> \
                </div> \
            </div> \
            <div class="container-table d-flex justify-content-between"> \
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#reservation">Reserve</button> \
                <button onclick="getreservesRoute()" type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#searchReserve">Consult reservations</button> \
            </div>`;
    }

    function showWe() {
        let view = document.getElementById("view");
        let row = document.getElementById("we");
        document.getElementById("vehicle").classList.remove("active");
        document.getElementById("routes").classList.remove("active");


        row.classList.add("active");
        view.innerHTML = ' \
            <div class="background-header"> \
                <div class="blurring">\
                    <h2>We</h2> \
                </div> \
            </div> \
            <div class="container-text"> \
                <p> \
                    Con 20 años de experiencia hemos logrado posicionarnos como una empresa líder en la prestación \
                    de servicios de Transporte de pasajeros. \
                    Somos una empresa líder en la prestación de servicios de Transporte Especial Terrestre de \
                    Pasajeros, en la línea empresarial. Por largo tiempo les hemos entregado a nuestros clientes \
                    calidad al viajar, seguridad y comodidad, mediante un servicio cordial, confiable y honesto. \
                </p> \
                <p> \
                    Contamos con conductores donde prima la puntualidad, honestidad y amabilidad; tenemos rutas \
                    rápidas que cubren la mayor parte de la zona colombiana y le entregamos el mejor servicio \
                    posible a nuestros clientes. Brindamos la oportunidad de escoger entre todas las comodidades \
                    variando las rutas y así encontrar el mejor precio que se acomode a su bolsillo. \
                </p> \
            </div> \
            <div class="container-contact d-flex flex-column"> \
                <div class="item-center"> \
                    <h3>Contact Us</h3> \
                </div> \
                <div class="item-center"> \
                    <ul class="list-unstyled"> \
                        <!--crea una lista no ordenada--> \
                        <li> \
                            Email: terminalvmv@gmail.com \
                        </li> \
                        <li> \
                            Phone: +57 604 455 35 00 \
                        </li> \
                        <li> \
                            Address: Cra 67 #8b-109 \
                        </li> \
                    </ul> \
                </div> \
            </div>';
    }

    showWe();
</script>

</html>